
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-card">
			<div class="layui-card-header">公告</div>
			<div class="layui-card-body">
					<div style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px;">
						<button class="layui-btn" id="addnotice" data-type="addnotice">发布公告</button>
					</div>
					<table id="LAY-news-notice-manage" lay-filter="LAY-news-notice-manage"></table>
					
					<script type="text/html" id="table-notice-news">
        				<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        				<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
      				</script>
			</div>
		</div>
	</div>
</div>

<script>
layui.use('news', layui.factory('news')).use(['admin', 'form','news','table'], function () {
	var $ = layui.$
    , admin = layui.admin
    , setter = layui.setter
    , element = layui.element
    , router = layui.router()
    , table=layui.table
    , news = layui.news
    , setModel=layui.set
    , form = layui.form;
	element.render();
	//公告=0，新闻=1
	news._fun.loadNoticeNewsList("#LAY-news-notice-manage","#table-notice-news","0")
	$("#addnotice").on('click', function(){
		news._fun.addNoticeNews("LAY-news-notice-manage","0");
	});
	table.on('tool(LAY-news-notice-manage)', function (obj) {
		  var data = obj.data;
	      if (obj.event === 'edit') {
	    	  news._fun.updateNoticeNews(data,"0","LAY-news-notice-manage");
	      }else if(obj.event==='del'){
	    	  news._fun.deleteNews('LAY-news-notice-manage',obj.data)
	          }
		});
})
</script>

