<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.registration.dao.KApplyDao">

    <select id="listKapply" resultType="com.registration.mode.KApply">
        select *
        from `k_apply`
        where student_name like concat('%',#{studentName},'%')
        <if test="auditStatus != null">
           and audit_status = #{auditStatus}
        </if>
        limit #{pagination.pageNum},#{pagination.pageSize}
    </select>

    <select id="listKapplyCount" resultType="int" >
        select count(*)
        from `k_apply`
        where student_name like concat('%',#{studentName},'%')
        <if test="auditStatus != null">
            and audit_status = #{auditStatus}
        </if>
    </select>
</mapper>