<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.registration.dao.KUserDao">

    <select id="login" resultType="com.registration.mode.KUser">
        SELECT * FROM `k_user` WHERE `type` = #{type} AND account = #{account} AND `password`= #{password}
    </select>

    <insert id="register">
        INSERT INTO `k_user`(account,`password`,`phone`,`sex`,`type`)
        VALUES(#{user.account},#{user.password},#{user.phone},#{user.sex},#{user.type})
    </insert>

    <select id="oneUser" resultType="com.registration.mode.KUser">
        SELECT * FROM `k_user` WHERE `type` = 2 AND account = #{account}
    </select>

    <update id="updatePassWork">
        UPDATE `k_user` SET `password`= #{password} WHERE id = #{id}
    </update>
</mapper>