<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <script src="../../../layuiadmin/layui/layui.js"></script>
    <script type="application/javascript" src="/layuiadmin/modules/jquery-1.7.2.min.js"></script>
</head> <link rel="stylesheet" href="../../layuiadmin/style/formSelects-v4.css" media="all">
<body>
<div class="layui-fluid" >
    <form class="layui-form" id="f1" action="" onsubmit="return false">

        <div class="layui-form-item">
            <label class="layui-form-label">校区</label>
            <!--<div class="layui-input-inline">-->
            <!--<input type="text" id="campusName"  placeholder="校区"  autocomplete="off" class="layui-input">-->
            <!--</div>-->
            <div class="layui-input-inline">
                <select name="modules" id="campusName" lay-verify="required"  lay-filter="campusId" lay-search="">
                    <option value="-1" id="op1" selected>请选择</option>
                </select>
            </div>
            <!--<label class="layui-form-label">课程</label>-->
            <!--&lt;!&ndash;<div class="layui-input-inline">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="text" id="shiftName"   placeholder="课程" autocomplete="off" class="layui-input">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="layui-input-inline">-->
            <!--<select name="modules" id="shiftName" lay-verify="required" lay-search="">-->
            <!--<option value="-1" id="op2" selected>请选择</option>-->
            <!--</select>-->
            <!--</div>-->
            <label class="layui-form-label">班级</label>
            <div class="layui-input-inline">
                <input type="text" id="className"   placeholder="班级" autocomplete="off" class="layui-input">
            </div>
            <!--<div class="layui-input-inline">-->
            <!--<select name="modules" id="className" lay-verify="required" lay-search="">-->
            <!--<option value="-1" id="op1" selected>请选择</option>-->
            <!--</select>-->
            <!--</div>-->
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">学年</label>
                <div class="layui-input-inline">
                    <select name="modules" id="year" lay-verify="required" lay-search="">
                        <option value="-1" selected>请选择</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                    </select>
                </div>

                <label class="layui-form-label">期段</label>
                <div class="layui-input-inline">
                    <select name="modules" id="termId" lay-verify="required" lay-search="">
                        <option id="o1" value="-1" selected>请选择</option>
                    </select>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;
                <button class="layui-btn  layui-btn-normal" lay-submit lay-filter="lay-query-submit">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    查询
                </button>
                <button class="layui-btn" type="reset" id="rest"><i class="layui-icon layui-icon-refresh"></i>重置</button>
            </div>

            <div class="layui-form-item,layui" style = "text-align:left;">
                <div class="layui-inline">
                    <!--<button type="button" id="b1" class="layui-btn">课次调整</button>-->
                    <!--<button type="button" id="b2" class="layui-btn layui-btn-disabled">确认修改</button>-->
                    <!--<button type="button" id="b3" class="layui-btn layui-btn-disabled">返回</button>-->
                    <button type="button" id="b3" class="layui-btn">返回</button>
                </div>
            </div>

            <!--表格部分-->
            <div class="layui-form">
                <div id="course" hidden="hidden">
                    <table class="layui-table" style="text-align: center">
                        <colgroup>
                            <col width="12%">
                            <col width="5%">
                            <col width="5%">
                            <col width="12%">
                            <col width="5%">
                            <col width="10%">
                            <col width="12%">
                            <col width="5%">
                            <col width="5%">
                            <col width="14%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>所属校区</th>
                            <th>学年</th>
                            <th>期段</th>
                            <th>班级</th>
                            <th>上课教室</th>
                            <th>上课教师</th>
                            <th>课题编码</th>
                            <th>上课进度</th>
                            <th>是否消课</th>
                            <th>上课时间</th>
                        </tr>
                        </thead>
                        <tbody  id="t1">

                        </tbody>

                    </table>
                </div>
                <div id="grade">
                    <table class="layui-table" style="text-align: center">
                        <colgroup>
                            <col width="20%">
                            <col width="15%">
                            <col width="20%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="15%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>班级</th>
                            <th>所属校区</th>
                            <th>课程名称</th>
                            <th>计划开班日期</th>
                            <th>计划结业日期</th>
                            <th>班级类型</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody  id="t2">

                        </tbody>
                    </table>
                </div>
                <div class="layui-table-page">
                    <div id="layui-table-page14">
                        <div class="layui-box layui-laypage layui-laypage-molv" id="layui-laypage-23">
                            <a href="javascript:;"  onclick="f($(this).text(),$('#pageSize1').val())" title="首页" >1</a>
                            <a href="javascript:;" id="prev" onclick="f($(this).attr('value'),$('#pageSize1').val())" class="layui-laypage-prev" data-page="70">
                                <i class="layui-icon"></i>
                            </a>
                            <span class="layui-laypage-curr">
                                    <em class="layui-laypage-em" style="background-color:#1E9FFF;"></em>
                                    <em id="pageNum1"></em>
                                </span>
                            <!--<a href="javascript:;" >2</a>-->
                            <!--<span class="layui-laypage-spr">…</span>-->

                            <a href="javascript:;" class="layui-laypage-next" id="next" onclick="f($(this).attr('value'),$('#pageSize1').val())" >
                                <i class="layui-icon"></i>
                            </a>
                            <a href="javascript:;" class="layui-laypage-last" onclick="f($(this).text(),$('#pageSize1').val())" title="尾页" ></a>
                            <span class="layui-laypage-skip">到第
                                    <input type="text" min="1" id="xpage" value="" class="layui-input">页
                                    <button type="button" onclick="f($('#xpage').val(),$('#pageSize1').val())" class="layui-laypage-btn">确定</button>
                                </span>
                            <span class="layui-laypage-count">共 <span id="totl"></span> 条</span>
                            <span  class="layui-laypage-limits">
                                <select lay-ignore="" id="pageSize1" onchange="f($('#xpage').val(),$(this).val())">
                                    <!--<option value="10">10 条/页</option>-->
                                    <!--<option value="20" selected="">20 条/页</option>-->
                                    <!--<option value="30">30 条/页</option>-->
                                    <!--<option value="40">40 条/页</option>-->
                                    <option value="50" selected="">50 条/页</option>
                                    <option value="60">60 条/页</option>
                                    <option value="70">70 条/页</option>
                                    <option value="80">80 条/页</option>
                                    <option value="90">90 条/页</option>
                                </select>
                                </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>

<script type="application/javascript" src="../../../layuiadmin/modules/api.js"></script>
<script>
    $(".layui-table-page").hide()
    layui.use(['index', 'upload', 'formSelects'], function () {
        var urlInit = layui.api.CurriculumService.initConfigHbk;
        layui.admin.req({
            url: urlInit,
            data: {},
            success: function (datas) {
                var option ="";
                for (var i = 0; i < datas.length; i++) {
                    option +=' <option  value="'+datas[i].termId+'">'+datas[i].termName+'</option>';
                }
                $("#o1").after(option)
                layui.use('form', function () {
                    var form = layui.form;
                    form.render('select');
                })

            },
            error: function (error) {
                layui.view.error(error);
            }
        });

        Date.prototype.Format = function(fmt){
            var o = {
                "M+": this.getMonth()+1,
                "d+": this.getDate(),
                "H+": this.getHours(),
                "m+": this.getMinutes(),
                "s+": this.getSeconds(),
                "S+": this.getMilliseconds()
            };
            //因为date.getFullYear()出来的结果是number类型的,所以为了让结果变成字符串型，下面有两种方法：
            if(/(y+)/.test(fmt)){
                //第一种：利用字符串连接符“+”给date.getFullYear()+""，加一个空字符串便可以将number类型转换成字符串。
                fmt=fmt.replace(RegExp.$1,(this.getFullYear()+"").substr(4-RegExp.$1.length));
            }
            for(var k in o){
                if (new RegExp("(" + k +")").test(fmt)){
                    //第二种：使用String()类型进行强制数据类型转换String(date.getFullYear())，这种更容易理解。
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(String(o[k]).length)));
                }
            }
            return fmt;
        };

        //点击重置删除班级
        // $("#rest").on("click",function () {
        //     $("#op1").nextAll("option").remove();
        //     layui.use('form', function () {
        //         var form = layui.form;
        //         form.render('select');
        //     })
        // })
        layui. form.on('select(campusId)', function(data){
            // layui.admin.req({
            //     url: layui.api.CommonService.queryClasssByCampus,
            //     data: {campusId: data.value},
            //     success: function (res) {
            //         layui.util.renderTplView({tplId: 'CLASSID_TPL', data: res, tarId: 'CLASSID_VIEW'})
            //         layui.form.render();
            //     },
            //     error: function (error) {
            //         layui.view.error(error);
            //     }
            // });
        });
        $("#f1").on("submit",function () {
            $("#b2,#b3").attr("class","layui-btn layui-btn-disabled")
            var pageSize = $("#pageSize1").val();
            var campusName = $("#campusName").val().trim()
            var className = $("#className").val().trim()
            var year = $("#year").val()
            var termId = $("#termId").val()
            window.data = {campusName: campusName,className: className,termId: termId,year: year,pageNum: 1,pageSize: pageSize}
            $("#grade").removeAttr("hidden")
            $("#course").attr("hidden","hidden")
            find(window.data);
        })
        //课次调整
        // $("input[name='shiftAmount']").hide()
        $("#b1").on("click",function () {
            if ($("#course").attr("hidden") != "hidden") {
                if($("input[name='shiftAmount']").length > 0){
                    if ($("#isNull").val() == "isNotNull"){
                        var index = 0
                        layui.admin.req({
                            url: layui.api.CourseService.isFinished,
                            data: {classId: window.$data.classId},
                            success: function (datas) {
                                if (datas == true) {
                                    layer.msg("班级结业，不可编辑")
                                } else {
                                    $(".shiftAmount").each(function () {
                                        if ($(this).attr("tag") == '否') {
                                            $(this).hide()
                                            index = 1;
                                        }
                                    })

                                    $(".inhi").each(function () {
                                        if ($(this).attr("tag") == '否') {
                                            $(this).show()
                                            index = 1;
                                        }
                                    })
                                    if (index === 1) {
                                        $("#b2,#b3").attr("class","layui-btn layui-btn-normal")

                                    }
                                }
                            },
                            error: function (error) {
                                layui.view.error(error);
                            }
                        })


                    }
                }
            }


        })
        //回退
        $("#b3").on("click",function () {
            if($("#b3").attr("class") == "layui-btn layui-btn-normal") {
                $(".shiftAmount").show();
                $(".inhi").hide()
                for (var i = 0; i <  $(".shiftAmount").length; i++) {
                    $shiftAmount = $(".shiftAmount").eq(i).text()
                    $("input[name='shiftAmount']").eq(i).val($shiftAmount);
                }
                $("#b2,#b3").attr("class","layui-btn layui-btn-disabled")
                $("#grade").removeAttr("hidden")
                $("#course").attr("hidden","hidden")
                f(window.page.pageNum,window.page.pageSize)
            }
        })
        //处理输入框事件
        $("#xpage").on("change",function () {
            var xpage = $(this).val()
            if (xpage < 1) {
                $(this).val(1)
            }
            var maxpage= $(".layui-laypage-last").text()
            if (xpage > Number(maxpage)) {
                $(this).val(maxpage)
            }
        })
        $("#campusName").on("change",function () {
            alert(123)
        })
        //确定修改课次事件
        $("#b2").on("click",function () {
            var reg = new RegExp("^[0-9]*$")
            var reg1 = new RegExp("^-1$")
            var s = 0;
            if($(this).attr("class") == "layui-btn layui-btn-normal"){
                for (let i = 0; i <  $("input[name=shiftAmount]").length; i++) {

                    if(!reg.test($("input[name=shiftAmount]").eq(i).val()) && !reg1.test($("input[name=shiftAmount]").eq(i).val())){
                        s = 1;
                        layer.msg("请输入数字!");
                    }
                }
                if (s == 0) {


                    for (var i = 0; i < $("input[name=shiftAmount]").length ; i++) {
                        for (var j = 0 ; j < $("input[name=shiftAmount]").length; j++) {
                            if ($("input[name=shiftAmount]").eq(i).val() === $("input[name=shiftAmount]").eq(j).val() && i!==j ){
                                layer.msg('上课进度不能相同');
                                return false;
                            }
                        }
                    }



                    var courseId=[];
                    var shiftAmount=[];
                    for (let i = 0; i <  $("input[name='shiftAmount']").length; i++) {
                        let val =$("input[name='shiftAmount']").eq(i).val();
                        shiftAmount.push(val)
                        let id = $("input[name='shiftAmount']").eq(i).attr("courseId");
                        courseId.push(id)
                        // console.log("shiftAmountValue: " + val + "  id : " + id)
                    }
                    var data1={updateCourseShiftAmountParam: {"courseId": courseId,"shiftAmount": shiftAmount,"courseIdAll": window.list_id}}
                    var url =layui.api.CourseService.updateCourseShiftAmount;
                    layui.admin.req({
                        url: url,
                        data: data1,
                        success: function (datas) {
                            if (datas.message != undefined) {
                                layer.msg(datas.message)
                            } else {
                                layer.msg("排课成功")
                                f($('#xpage').val(),$('#pageSize1').val());
                            }
                        },
                        error: function (error) {
                            layui.view.error(error);
                        }
                    });
                }
            }

        })

        isAdmin()

    })
    function findCourse(data) {
        window.page = {pageNum: $('#xpage').val(),pageSize: $('#pageSize1').val()}
        layui.admin.req({
            url: layui.api.CourseService.findCourseInfo,
            data: data,
            success: function (datas) {
                $(".trde").remove()
                $("#b2").attr("class","layui-btn layui-btn-disabled")
                $("#b3").attr("class","layui-btn layui-btn-normal")
                if (datas != null) {
                    if (datas.pageInfo.list.length == 0) {
                        $(".layui-table-page").hide()
                        $("#t1").after("<tr class='trde'>\n" +
                            " <th colspan=\"9\">没有数据</th>\n" +
                            "  </tr>")
                    } else {
                        //所有课次id
                        window.list_id = datas.listId;

                        $(".layui-table-page").show();
                        var tr;
                        for (let i = 0; i < datas.pageInfo.list.length; i++) {
                            var endTime= new Date(datas.pageInfo.list[i].course.endTime).Format("HH:mm")
                            var startTime = new Date(datas.pageInfo.list[i].course.startTime).Format("yyyy-MM-dd HH:mm")
                            var time = startTime + '~' + endTime;
                            var isf= "";
                            if (datas.pageInfo.list[i].course.isFinished == 2) {
                                isf = "(此课次已取消，需要排课改课次，先去校管家删除该课次)"
                            }
                            var isClassAway;
                            var inp;
                            if (datas.pageInfo.list[i].course.isFinished == 1 || datas.pageInfo.list[i].course.isFinished == 2) {
                                isClassAway = '是'
                                //如果是否就添加输入框
                                inp ='<div hidden class="inhi" tag = "'+isClassAway+'"><input type="text"  onchange="f1(\''+datas.pageInfo.list[i].course.courseTeacher.courseId+'\')"  width="10" name="shiftAmount"  style="width: 16px" courseId = "'+datas.pageInfo.list[i].course.courseTeacher.courseId+'" value="-1"></div>'
                            }
                            if (datas.pageInfo.list[i].course.isFinished == 0 ) {
                                isClassAway = '否';
                                inp ='<div hidden class="inhi" tag = "'+isClassAway+'"><input type="text" onchange="f1(\''+datas.pageInfo.list[i].course.courseTeacher.courseId+'\')"  width="10" name="shiftAmount"  style="width: 16px" courseId = "'+datas.pageInfo.list[i].course.courseTeacher.courseId+'" value="'+datas.pageInfo.list[i].course.shiftAmount+'"></div>'
                            }

                            var termName = '无'
                            if ( datas.pageInfo.list[i].course.curriculum.dice != undefined) {
                                termName = datas.pageInfo.list[i].course.curriculum.dice.termName;
                            }

                            var employeeName = '此课次暂无老师';
                            if (datas.pageInfo.list[i].course.courseTeacher.employee != undefined) {
                                employeeName = datas.pageInfo.list[i].course.courseTeacher.employee.name;
                            }
                            tr +=' <tr class="trde">\n' +
                                ' <td width="150">'+ datas.pageInfo.list[i].course.grade.department.name+'</td>\n' +
                                ' <td width="50">'+ datas.pageInfo.list[i].course.curriculum.year+'</th>\n' +
                                ' <td width="50">'+ termName +'</td>\n' +
                                ' <td width="150">'+ datas.pageInfo.list[i].course.grade.name+'</td>\n' +
                                ' <td width="70">'+ datas.pageInfo.list[i].course.classRoom.name+'</td>\n' +

                                ' <td width="70">'+ employeeName +'</td>\n' +
                                ' <td width="70">'+ datas.pageInfo.list[i].lessonCode+'</td>\n' +
                                ' <td width="50">' + (i+1) +
                                // '<span class="shiftAmount" tag = "'+isClassAway+'">'+ datas.pageInfo.list[i].shiftAmount +' '+isf+'</span> ' +
                                // inp +
                                ' </td>\n' +
                                ' <td width="70" class="isClassAway">'+ isClassAway +'</td>\n' +
                                ' <td width="150">'+ time +'</td>\n' +
                                ' </tr>'
                        }
                        tr +='<input type="hidden" value="isNotNull" id="isNull">'
                        $("#t1").append(tr)
                        //给分页给值
                        $("#next").attr("value",datas.pageInfo.nextPage)
                        $("#prev").attr("value",datas.pageInfo.prePage)
                        $(".layui-laypage-last").attr("value",datas.pageInfo.lastPage)
                        $(".layui-laypage-last").text(datas.pageInfo.pages)
                        $("#totl").text(datas.pageInfo.total)
                        $("#xpage").val(datas.pageInfo.pageNum);
                        $("#pageNum1").text(datas.pageInfo.pageNum)
                        $("#prev").attr("class","layui-laypage-prev")
                        $("#next").attr("class","layui-laypage-next")
                        if (datas.pageInfo.isFirstPage) {
                            $("#prev").attr("class","layui-laypage-prev layui-disabled")
                        }
                        if (datas.pageInfo.isLastPage){
                            $("#next").attr("class","layui-laypage-next layui-disabled")
                        }
                    }
                } else {
                    $(".layui-table-page").hide()
                    $("#t1").after("<tr class='trde'>\n" +
                        " <th colspan=\"9\">没有数据</th>\n" +
                        "  </tr>")
                }


            },
            error: function (error) {
                layui.view.error(error);
            }
        });
    }
    function rediCourse(classId) {
        var pageSize = $("#pageSize1").val();
        window.$data={classId: classId,pageNum: 1,pageSize: pageSize};
        $("#grade").attr("hidden","hidden")
        $("#course").removeAttr("hidden")
        findCourse(window.$data)
    }
    function find(data){
        layui.admin.req({
            url: layui.api.CourseService.findClassName,
            data: window.data,
            success: function (datas) {
                $(".trde1").remove()
                if (datas != null) {
                    if (datas.page.list.length == 0) {
                        $(".layui-table-page").hide()
                        $("#t2").after("<tr class='trde1'>\n" +
                            " <th colspan=\"9\">没有数据</th>\n" +
                            "  </tr>")
                    } else {
                        $(".layui-table-page").show();

                        var tr;
                        for (let i = 0; i < datas.page.list.length; i++) {
                            var type;
                            if (datas.page.list[i].type == 0) {
                                type = '正常班级'
                            } else if (datas.page.list[i].type == 1) {
                                type = '一对一班级'
                            } else if (datas.page.list[i].type == 3) {
                                type = '试听班级'
                            }
                            var cname;
                            if (datas.page.list[i].curriculum == undefined){
                                cname = "无"
                            } else {
                                cname = datas.page.list[i].curriculum.name;
                            }
                            var classId = datas.page.list[i].classId;
                            tr +=' <tr class="trde1" onclick="rediCourse(\''+classId+'\')">\n' +
                                ' <td width="150"><a href="#">'+ datas.page.list[i].name+'</a></td>\n' +
                                ' <td width="50">'+ datas.page.list[i].department.name+'</td>\n' +
                                ' <td width="50">'+ cname+'</td>\n' +
                                ' <td width="150">'+ datas.page.list[i].opendate+'</td>\n' +
                                ' <td width="70">'+ datas.page.list[i].closedate+'</td>\n' +
                                ' <td width="70">'+ type +'</td>\n' +
                                ' <td width="70">'+ datas.page.list[i].describe+'</td>\n' +
                                ' </tr>'
                        }
                        $("#t2").append(tr)
                        //给分页给值
                        $("#next").attr("value",datas.page.nextPage)
                        $("#prev").attr("value",datas.page.prePage)
                        $(".layui-laypage-last").attr("value",datas.page.lastPage)
                        $(".layui-laypage-last").text(datas.page.pages)
                        $("#totl").text(datas.page.total)
                        $("#xpage").val(datas.page.pageNum);
                        $("#pageNum1").text(datas.page.pageNum)
                        $("#prev").attr("class","layui-laypage-prev")
                        $("#next").attr("class","layui-laypage-next")
                        if (datas.page.isFirstPage) {
                            $("#prev").attr("class","layui-laypage-prev layui-disabled")
                        }
                        if (datas.page.isLastPage){
                            $("#next").attr("class","layui-laypage-next layui-disabled")
                        }
                    }
                } else {
                    $(".layui-table-page").hide()
                    $("#t2").after("<tr class='trde1'>\n" +
                        " <th colspan=\"9\">没有数据</th>\n" +
                        "  </tr>")
                }
            },
            error: function (error) {
                layui.view.error(error);
            }
        });

    }
    //判断是否为管理员
    function isAdmin() {
        layui.admin.req({
            url: layui.api.CourseService.isAdmin,
            data: {},
            success: function (datas) {

                $("#op1").nextAll("option").remove();
                var option ="";
                for (let i = 0; i < datas.result.length; i++) {
                    if (datas.result[i].deptId=='d0925bac-0a8e-4dc7-b1e6-540edda09199') {
                        continue
                    }
                    option +=' <option  value="'+datas.result[i].deptId+'">'+datas.result[i].name+'</option>';
                }
                $("#op1").after(option)
                layui.use('form', function () {
                    var form = layui.form;
                    form.render('select');
                })
                // $("#campusName").attr("style","background-color: #afaeb5")
                // $("#campusName").attr("disabled","disabled")
                // $("#campusName").attr("class"," layui-input layui-disabled")

            },
            error: function (error) {
                layui.view.error(error);
            }
        });
    }
    //更改输入框
    function f1(data) {
        if($("input[courseId="+data+"]").val() <= 0){
            $("input[courseId="+data+"]").val(1)
            layer.msg("课次不能小于1")
        }
    }
    //分页
    function f(pageNum,pageSize) {
        var reg = new RegExp("^[0-9]*$")
        if(!reg.test(pageNum)){
            layer.msg("请输入数字!");
        } else {
            var maxPage = $(".layui-laypage-last").text()
            if (pageNum != 0 && pageNum <= Number(maxPage)) {
                layui.use(['index', 'upload', 'formSelects'], function () {
                    // alert("122")
                    if($("#course").attr("hidden") == "hidden"){
                        var data1 = window.data
                        data1["pageNum"] = pageNum;
                        data1["pageSize"] = pageSize;
                        find(data1);
                    } else {
                        var data1 = window.$data
                        data1["pageNum"] = pageNum;
                        data1["pageSize"] = pageSize;
                        findCourse(data1)
                    }


                })
            } else {
                if (pageNum == 0) {
                    $("#prev").attr("class","layui-laypage-prev layui-disabled")
                }
                if (pageNum == maxPage) {
                    $("#next").attr("class","layui-laypage-next layui-disabled")
                }
            }
        }


    }
</script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

    });
</script>
</body>
</html>